/*
 * Add your own CSS code for the WYSIWYG editor
 */

.msg {
    padding: 1.06667rem 1.6rem
}

.msg--highlight {
    background-color: #f5f5fe
}

.msg--info {
    background-color: #edf9f7
}

.msg--success {
    background: #fef3fe
}

.dropcap:first-letter {
    float: left;
    font-size: 3.65324rem;
    line-height: .6;
    margin-right: .5rem;
    padding: .5rem .5rem .5rem 0
}
